{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="row">
	<h3 align="center">{% trans "about" %}</h3>		
	<div class="row">
		<div class="col-md-8">
			<p>Тулушпаев Дамир — он же ЗеерНеБух. Родился в городе Караганда, Карагандинская область Республики Казахстан в 2001 году. С малых лет был заинтересован музыкой, а потому его родная мать зачислила его в музыкальную школу, где он обучался игре на флейте и фортепиано. Имеет диплом духовика. Спустя несколько лет обучения потерял интерес к музыке, после чего поступил в общеобразовательную школу. Спустя ещё 5 лет был переведён в Школу Лицей, где и проучился до конца 11-го класса. На данный момент обучается на 4-м курсе Карагандинского университета им. Букетова на математика-программиста.</p>
		</div>								
		<div class="col-md-4">
			<img src="{% static 'images/photo.png' %}" alt="" style="width:100%; padding: 10px;">
		</div>
	</div>	
</div>
{% endblock content %}