{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="row">
	<h3 align="center">{% trans "about" %}</h3>		
	<div class="row">
		<div class="col-md-8">
			{% if LANGUAGE_CODE == 'kk' %}
				<p>Тулушпаев Дамир-ЗеерНеБух. 2001 жылы Қазақстан Республикасының Қарағанды облысы, Қарағанды қаласында дүниеге келген. Жас кезінен бастап ол музыкаға қызығушылық танытты, сондықтан оны туған анасы музыкалық мектепке қабылдады, онда ол флейта мен фортепианода оқыды. Духовик дипломы бар. Бірнеше жыл оқығаннан кейін ол музыкаға деген қызығушылығын жоғалтты, содан кейін ол жалпы білім беретін мектепке түсті. Тағы 5 жылдан кейін ол мектеп лицейіне ауыстырылды, онда ол 11-сыныптың соңына дейін оқыды. Қазіргі уақытта Қарағанды университетінің 4 курсында оқиды. Букетова-математик-бағдарламашы.</p>
			{% else %}
				<p>Тулушпаев Дамир — он же ЗеерНеБух. Родился в городе Караганда, Карагандинская область Республики Казахстан в 2001 году. С малых лет был заинтересован музыкой, а потому его родная мать зачислила его в музыкальную школу, где он обучался игре на флейте и фортепиано. Имеет диплом духовика. Спустя несколько лет обучения потерял интерес к музыке, после чего поступил в общеобразовательную школу. Спустя ещё 5 лет был переведён в Школу Лицей, где и проучился до конца 11-го класса. На данный момент обучается на 4-м курсе Карагандинского университета им. Букетова на математика-программиста.</p>
			{% endif %}
		</div>								
		<div class="col-md-4">
			<img src="{% static 'images/photo.png' %}" alt="" style="width:100%; padding: 10px;">
		</div>
	</div>	
</div>
{% endblock content %}